
body {
	background-color: inherit; /* background color */
	color: inherit; /* text color */
	font-family: '微软雅黑';
	font-size: 12px; /* font size */
	margin: 0; /* top right bottom left */
	height: 100%;
	SCROLLBAR-FACE-COLOR: #20a3fd;
 	SCROLLBAR-HIGHLIGHT-COLOR: #C3562D;
 	SCROLLBAR-SHADOW-COLOR: #fcfcfc;
 	SCROLLBAR-3DLIGHT-COLOR: #cccccc;
 	SCROLLBAR-ARROW-COLOR: #Cccccc;
 	SCROLLBAR-TRACK-COLOR: #fcfcfc;
 	SCROLLBAR-DARKSHADOW-COLOR: #48486c;
 	SCROLLBAR-BASE-COLOR: #999999;
}



td{
	font-family: "微软雅黑";
	font-size: 12px; /* font size */
	color: #333333;
}

a:active {
	font-family: "微软雅黑",  "新宋体", "黑体", Verdana, Arial, sans-serif;
	text-decoration:none;
}

a:link {
	font-family: "微软雅黑",  "新宋体", "黑体", Verdana, Arial, sans-serif;
	text-decoration:none;
	
}

a:visited {
	font-family: "微软雅黑",  "新宋体", "黑体", Verdana, Arial, sans-serif;
	text-decoration:none;
	
}

.labelTextWhite{
	display: inline;
    font-family: "微软雅黑",  "新宋体", "黑体", Verdana, Arial, sans-serif;
    font-size: 14px;
	color: #FFFFFF;
	font-weight: bold;
}

.labelTextWhiteSmall{
	display: block;
    font-family: "微软雅黑",  "新宋体", "黑体", Verdana, Arial, sans-serif;
    font-size: 10px;
	color: #FFFFFF;
	font-weight: bold;
}


.labelTextBlackSmall{
	display: block;
    font-family: "微软雅黑",  "新宋体", "黑体", Verdana, Arial, sans-serif;
    font-size: 10px;
	color: #000000;
	font-weight: bold;
}

.labelTextBlueSmall{
	display: block;
    font-family: "微软雅黑",  "新宋体", "黑体", Verdana, Arial, sans-serif;
    font-size: 10px;
	color: #20a3fd;
	font-weight: bold;
}

.labelTextBlack{
	display: block;
    font-family: "微软雅黑",  "新宋体", "黑体", Verdana, Arial, sans-serif;
    font-size: 12px;
	color: #000000;
	font-weight: bold;
}

.labelTextBlue{
	display: block;
    font-family: "微软雅黑",  "新宋体", "黑体", Verdana, Arial, sans-serif;
    font-size: 12px;
	color:  #20a3fd;
	font-weight: bold;
}

.labelTextGray{
	display: block;
    font-family: "微软雅黑",  "新宋体", "黑体", Verdana, Arial, sans-serif;
    font-size: 12px;
	color: #cccccc;
	font-weight: bold;
}

.labelTextGreen{
	display: block;
    font-family: "微软雅黑",  "新宋体", "黑体", Verdana, Arial, sans-serif;
    font-size: 12px;
	color: green;
	font-weight: bold;
}

.labelTitleBlack{
	display: block;
    font-family: "微软雅黑",  "新宋体", "黑体", Verdana, Arial, sans-serif;
    font-size: 14px;
	color: #000000;
	font-weight: bold;
}

.inputTextWhite{
	font-family: "微软雅黑",  "新宋体", "黑体", Verdana, Arial, sans-serif;
	border:1px solid #666666;
	background:transparent;
	font-size:14px;
	color: #FFFFFF;
	font-weight: bold;
}


.inputTextBlack{
	font-family: "微软雅黑",  "新宋体", "黑体", Verdana, Arial, sans-serif;
	border:1px solid #cccccc;
	font-size:12px;
	color:  #000000;
	font-weight: bold;
}

.easyui-textarea{
	font-family: '微软雅黑';
	border:solid 1px #cccccc;
	overflow:auto;
	font-size: 12px;
}

/**大头照处理**/
.prev_container{
	overflow: auto;
	width: 120px;
	height: 160px;
	
}

.prev_thumb{
	width:  119px;
	height: 159px;
	background-position:center;
}





